#content {
    min-height: 500pt;
    margin-bottom: 50pt;
}

#pageBg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg/1.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-origin: content-box;
    background-clip: content-box;
    z-index: -10;
}

#nightScape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    background-color: black;
    opacity: 0.3;
}

#searchBarJumbotron {
}

#searchQueryFormGroup {
    opacity: 0.7;
}

#indexFooter {
    background-image: url("../img/bg/p75.png");
}

#searchFooter {
    position: relative;
}

#searchResults {
    min-height: 500pt;
}
